@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply font-primary bg-primary text-white leading-loose;
          
  }
  .h1{
      @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: #333; /* Track color */
  }

  body::-webkit-scrollbar-thumb {
    background: #555; /* Scrollbar thumb color */
    border-radius: 6px; /* Rounded corners */
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #777; /* Thumb color on hover */
  }

  .text-outline{
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover{
    -webkit-text-stroke: 1px #3c8ce7;
  }
}


